<div class="daily-forecast glass-panel">
  <h3 class="section-title">Próximos {{ forecastData.length }} días</h3>
  <div class="daily-list">
    @for (item of forecastData; track item.fullDate) {
      <div class="day-wrapper" [class.expanded]="expandedDate === item.fullDate">
        <div class="day-item" (click)="toggle(item.fullDate)">
          <span class="day-name">{{ item.dayName | titlecase }}</span>
          <div class="icon-wrapper">
            <app-weather-icon [icon]="item.icon" size="small"></app-weather-icon>
          </div>
          <div class="temps">
            <span class="min">{{ item.min }}&deg;</span>
            <div class="temp-bar">
              <!-- Simulated bar gradient for now -->
              <div class="bar-fill"></div>
            </div>
            <span class="max">{{ item.max }}&deg;</span>
          </div>
        </div>
        
        @if (expandedDate === item.fullDate) {
          <div class="hourly-details">
            <div class="hourly-scroll">
              @for (hour of item.hourly; track hour.time) {
                <div class="hour-item">
                  <span class="time">{{ hour.time }}</span>
                  <app-weather-icon [icon]="hour.icon" size="small"></app-weather-icon>
                  <span class="temp">{{ hour.temp }}&deg;</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
